body {
    background-color: rgb(242, 239, 239);
    font-family: sans-serif;
    width: 393px;
    height: 851px;
    text-decoration: none;
    margin-left: 39%;
}

/* header starts here */
body header {
    background-color: white;
    font-family: sans-serif;
    border-radius: 8px;

}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 30px;

}

.header img {
    width: 35px;
    height: 40px;
    margin-top: 8px;
}

.header span {
    font-size: 30px;
    margin-top: 10px;
}

.header p {
    font-size: 19px;
}

/* header over */
/* section starts here */
section .top {
    width: 390px;
    background-color: white;
    display: flex;
    border-radius: 8px;
    margin-bottom: 8px;
}

section .top img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 25px;

}

section .top div h3 {
    margin-top: 25px;

}

.button {
    width: 140px;
    height: 35px;
    margin: 10px;
    border: 0;
    color: rgb(19, 170, 221);
    background-color: rgb(213, 232, 232);
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;

}

.big {
    color: red;
}