body {
    background-color: black;
    font-family: sans-serif;
    width: 398px;
    height: 790px;
    text-decoration: none;
    margin-left: 39%;
}

/* header starts here */
body header {
    font-family: sans-serif;
    height: 55px;
    background-color: rgb(242, 239, 239);

}
body p{
    color:grey;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 35px;

}

.header img {
    width: 35px;
    height: 40px;
    margin-top: 8px;
}

.header span {
    font-size: 30px;
    margin-top: 10px;
}

.header .txt {
    font-size: 19px;
    color: black;
}

/* header over */
/* section starts here */
section{
    background-color: rgb(242, 239, 239);
}
section .top {
    width: 398px;
    background-color: white;
    display: flex;
    border-radius: 8px;
    margin-bottom: 8px;
    height: auto;
}

section .top img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 25px;

}

section .top div h3 {
    margin-top: 25px;

}section .top2{
    width: 398px;
    background-color: white;
    display: flex;
    border-radius: 8px;
    margin-bottom: 8px;
    height: 100px;
}

section .top2 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 25px;

}

section .top2 div h3 {
    margin-top: 25px;

}

.button {
    width: 140px;
    height: 35px;
    margin: 10px;
    border: 0;
    color: rgb(19, 170, 221);
    background-color: rgb(213, 232, 232);
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;
    float: right;

}
.top1{
    width: 398px;
}

.big {
    color: red;
}